
   <div class=" mt-5 jumbotron" style="width: 100%;">
    <div class="row">
      <div class="col text-center">
        <img src="/img/Mark-Zuckerberg.webp" alt="Mark-Zuckerberg" class="img-thumbnail rounded-circle" width="200">
        <h1 class="display-4">Alien</h1>
        <p class="lead"> Facebook Creator | Diktator </p>
      </div>
    </div>
   </div>